<div class="page-width">
  <div class="grid">
    {% assign currentHandle = article.handle %}
    {% assign articlesFound = 0 %}
    {% for article in blogs[blog.handle].articles %}
    {% unless article.handle == currentHandle %}
    <div class="grid__item  medium-up--one-quarter">
      <article class="ArticleItem" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" >
        {%- if article.image != blank -%}
        {%- assign image_url = article.image | img_url: '' -%}
	   <a class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback" 
           href="{{ article.url }}">
          <img class="ArticleItem__Image"
               src="{{ image_url }}"
               alt="{{ article.image.alt | escape }}">
        </a>
        {%- endif -%}
        <div class="card__info">
          <h3 class="card__name">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>
          <div class="card__excerpt rte">
            {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
            {% else %}
            {{ article.content | strip_html | truncatewords: 30 }}
            {% endif %}
          </div>
          <span class="card__read-more">
            {{ 'blogs.article.read_more' | t }}
            {% include 'icon-arrow-right' %}
          </span>
        </div>
      </article>
    </div>
    {% assign articlesFound = articlesFound |plus: 1 %}
    {% if articlesFound == 4 %}{% break %}{% endif %}
    {% endunless %}
    {% endfor %}
  </div>
</div>
